.products
  - products.each do |product|
    .products__content
      .products__content__image
        = image_tag "/images/a.jpg"
      .products__content__detail
        %p.detail-name
          = product.room.name
        %p.detail-category
          - product.categories.each do |category|
            %span
              = category.name
        %p.detail-price
          %span
            = product.room.workday_price.to_s(:delimited).insert(0, "¥ ").insert(-1, "～")
          %span
            （1室1泊料金）
        %p.reserve-btn
          = link_to product_path(product) do
            予約する
      %p.detail
        = link_to "", class: '' do
          詳細情報