.slick
  .slick__content
    = image_tag "/images/a.jpg", class: 'slick__content--img'
  .slick__content
    = image_tag "/images/b.jpg", class: 'slick__content--img'
  .slick__content
    = image_tag "/images/c.jpg", class: 'slick__content--img'
  .slick__content
    = image_tag "/images/d.jpg", class: 'slick__content--img'
  .slick__content
    = image_tag "/images/e.jpg", class: 'slick__content--img'