.products-contact
  .products-contact__heading
    %h3
      お問い合わせ
    = render 'modules/information'
  .products-contact__form
    .products-contact__form__heading
      お問い合わせ内容を入力してください
    = form_with(model: @tweet, local: true) do |form|
      .input-name
        氏名
        %span *
      = form.text_field :full_name, placeholder: "東京 太郎"
      .input-name
        メールアドレス
        %span *
      = form.text_field :email, placeholder: "メールアドレス"
      .input-name 電話番号
      = form.text_field :phone_number, placeholder: "000-1234-5678"
      .input-name
        タイトル
        %span *
      = form.text_field :title
      .input-name
        お問い合わせ内容
        %span *
      = form.text_area :detail, placeholder: "お問い合わせ内容をご入力ください", rows: "10"
      .input-btn
        = form.submit "お問い合わせを送信する"